{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="/confirmation-page" method="post" novalidate>



      <!-- !! No links have been added !! -->


      
      <h1 class="govuk-heading-l">
        Check and Confirm
      </h1>


      <h2 class="govuk-heading-m">
        Service details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['service-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['team-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service owner
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['pm-ro-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Team's contact email
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['team-email']}}
          </dd>
          <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
          </dd>
        </div>
      </dl>






      <h2 class="govuk-heading-m">
        Audit details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Audit completed by
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['name-audit']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date audit completed
          </dt>
          <dd class="govuk-summary-list__value">
            {{date}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
      </dl>




      
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-heading-m">
            Issues
          </dt>
          <div id="issues-hint" class="govuk-hint">
            This will take you to a page with all issues listed.
          </div>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
      </dl>






      <h2 class="govuk-heading-m">
        Contact details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Report accessibility issues
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['email-to-report-issues']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Recieve data in a different format
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['email-for-different-format']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Time to respond to user
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['days-for-reply']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
      </dl>



        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
