{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}
        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {% set yesHtml %}
        {{ govukTextarea({
          id: "yes",
          name: "yes",
          type: "email",
          spellcheck: false,
          label: {
            text: "What are you doing to apply disproportionate burden?"
          },
          hint: {
            text: "Provide as much detail as possible"
          }
        }) }}
        {% endset -%}

        {% set noHtml %}
        {{ govukTextarea({
          id: "yes",
          name: "yes",
          type: "email",
          spellcheck: false,
          label: {
            text: "Why?"
          },
          hint: {
            text: "Provide as much detail as possible"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          name: "areYouApplyingDisproportionateBurden",
           fieldset: {
           legend: {
           text: "Are you applying disproportionate burden?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: yesHtml
                }
            },
            {
              value: "no",
              text: "No",
              conditional: {
                html: noHtml
              }
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "More on disproportionate burden",
          text: "Read the (Link)DWP disproportionate burden guidance (opens in a new tab) for more information."
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
