{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/how-fix-issue-answer" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "how-fix-issue",
          value: data['how-fix-issue'],
          label: {
            text: "What are you doing to fix the issue?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "provide as much detail as possible"
          },
          errorMessage: {
            text: "Explenation must be less than 400 characters"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
