{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Use this service to create and manage your service's accessibility statements.</p>

      <p>Creating an accessibility statement takes around 45 minutes.</p>


      <h2 class = "govuk-heading-l">
        Before you start
      </h2>

      <p>
        You must have completed an accessibility audit and have the details of any WCAG issues.
      </p>

      <p>
        You will also need contact detils for the service team and owners.
      </p>

      <h3 class="govuk-heading-m">
        Get an audit
      </h3>

      <p>
        Complete the <a href="#">audit requirements form (MS Form, internal only) </a> and DesignOps will contact you to discuss your audit needs.
      </p>

      {{ govukButton({
        text: "Start now",
        href: "/juggling-balls",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="related-links-title">
          Related Links
        </h2>
        <nav role="navigation" aria-labelledby="related-links-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Why you need an audit
              </a>
            </li>
            <li>
              <a href="#">
                More
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
