{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/service-details-answer" method="post">

        {% if errors | length %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for error in errors %}
              <li>
                <a href="#{{error.id}}">{{error.message}}</a>
              </li>
              {% endfor %}
              
            </ul>
          </div>
        </div>
      </div>
      {% endif %}

        
        <h1 class="govuk-heading-l">
          Service details
        </h1>
        
        
          <!-- Question 1 -->
          <div class="govuk-form-group {% if errors | length %} {% for error in errors %} {% if error.id == 'service-name' %} govuk-form-group--error {% endif %} {% endfor %} {% endif %}">
            <label class="govuk-label" for="service-name">
            What is the name of the service?
          </label>
          
          {% if errors | length %}
          {% for error in errors %}
          {% if error.id == 'service-name' %}
          <p id="service-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{error.message}}
          </p>
          {% endif %}
          {% endfor %}
          {% endif %}
          
          <input class="govuk-input {% if errors | length %} {% for error in errors %} {% if error.id == 'service-name' %} govuk-input--error {% endif %} {% endfor %} {% endif %}" id="service-name" name="service-name" type="text" value="{{data['service-name']}}">
        </div>
        


        <!-- Question 2 -->
        <div class="govuk-form-group {% if errors | length %} {% for error in errors %} {% if error.id == 'team-name' %} govuk-form-group--error {% endif %} {% endfor %} {% endif %}">
          <label class="govuk-label" for="team-name">
            What is the name of team that manages the service?
          </label>
          
          {% if errors | length %}
          {% for error in errors %}
          {% if error.id == 'team-name' %}
          <p id="team-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{error.message}}
          </p>
          {% endif %}
          {% endfor %}
          {% endif %}
          
          <input class="govuk-input {% if errors | length %} {% for error in errors %} {% if error.id == 'team-name' %} govuk-input--error {% endif %} {% endfor %} {% endif %}" id="team-name" name="team-name" type="text" value="{{data['team-name']}}">
        </div>
        


        <!-- Question 3 -->
        <div class="govuk-form-group {% if errors | length %} {% for error in errors %} {% if error.id == 'pm-ro-name' %} govuk-form-group--error {% endif %} {% endfor %} {% endif %}">
          <label class="govuk-label" for="pm-ro-name">
            What is the name of the product manager or responsible officer?
          </label>
          
          {% if errors | length %}
          {% for error in errors %}
          {% if error.id == 'pm-ro-name' %}
          <p id="pm-ro-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{error.message}}
          </p>
          {% endif %}
          {% endfor %}
          {% endif %}
          
          <input class="govuk-input {% if errors | length %} {% for error in errors %} {% if error.id == 'pm-ro-name' %} govuk-input--error {% endif %} {% endfor %} {% endif %}" id="pm-ro-name" name="pm-ro-name" type="text" value="{{data['pm-ro-name']}}">
        </div>
        


        <!-- Question 4 -->
        <div class="govuk-form-group {% if errors | length %} {% for error in errors %} {% if error.id == 'team-email' %} govuk-form-group--error {% endif %} {% endfor %} {% endif %}">
          <label class="govuk-label" for="team-email">
            What is the contact email for the team?
          </label>
          
          {% if errors | length %}
          {% for error in errors %}
          {% if error.id == 'team-email' %}
          <p id="team-email-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{error.message}}
          </p>
          {% endif %}
          {% endfor %}
          {% endif %}
          
          <input class="govuk-input {% if errors | length %} {% for error in errors %} {% if error.id == 'team-email' %} govuk-input--error {% endif %} {% endfor %} {% endif %}" id="team-email" name="team-email" type="email" value="{{data['team-email']}}">
        </div>
        


        {{ govukButton({
          text: "Continue"
        }) }}
        

      </form>

    </div>
  </div>

{% endblock %}
