{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<h1 class = "govuk-heading-xl">
  list of issues
</h1>
<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     issue
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/wcag-general-issues">Add<span class=""></span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          principle
        </dt>
        <dd class="govuk-summary-list__value">
          {{pour-selection}}
        </dd>
       
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        wcag-criteria
        </dt>
        <dd class="govuk-summary-list__value">
          {{wcag-criteria}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        fix issues
        </dt>
        <dd class="govuk-summary-list__value">
          {{planning-to-fix-issue}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        how fixing/ why not fixing
        </dt>
        <dd class="govuk-summary-list__value">
          {{planning-to-fix-issue}}
        </dd>
      </div>
    </dl>
  </div>
</div>
{% endblock %}
