{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<h1>List of issues</h1>
<p><a href = "/wcag-general-issues">add an issue</a></p>

{%if listOfIssues|length>0%}

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
     issue
    </h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/wcag-general-issues">Add<span class=""></span></a>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      {% for issue in listOfIssues %}
      <div class="govuk-summary-list__row">
        
        <dt class="govuk-summary-list__key">
          principle
        </dt>
        <dd class="govuk-summary-list__value">
          {{issue.principle}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        wcag-criteria
        </dt>
        <dd class="govuk-summary-list__value">
          {{issue.criteria}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        fix issues
        </dt>
        <dd class="govuk-summary-list__value">
          {{issue.fixIssueYN}}
        </dd>
      </div>
      {% if issue.fixIssueYN === "Yes" %} 
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        How are you fixing this issue
        </dt>
        <dd class="govuk-summary-list__value">
          {{issue.howFixIssue}}
        </dd>
      </div>
        {% else %} 
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Why are you not fixing the issue?
          </dt>
          <dd class="govuk-summary-list__value">
            {{issue.whyNotFixIssue}}
          </dd>
        </div>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
</div>
{%endif%}
<!-- {{listOfIssues|dump}} -->
{% endblock %}
