{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">(service name) accessibility issues</h1>

{%if listOfIssues|length>0%}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">Issue</th>
      <th scope="col" class="govuk-table__header">Criteria</th>
      <th scope="col" class="govuk-table__header">Are fix issue</th>
      <th scope="col" class="govuk-table__header">Why not fix/how fix</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for issue in listOfIssues %}
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{issue.principle}}</td>
      <td class="govuk-table__cell">{{issue.criteria}}</td>
      <td class="govuk-table__cell">{{issue.fixIssueYN}}</td>
      <td class="govuk-table__cell">{% if issue.fixIssueYN === "Yes" %} 
        {{issue.howFixIssue|truncate(100)}} 
        {% else %} 
        {{issue.whyNotFixIssue|truncate(100)}} 
        {% endif %}
      </td>
      <td class="govuk-table__cell">
        <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden">change</span></a>
        <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> remove</span></a>
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>
{%else%}
<p>no issues added</p>
{%endif%}

<!--{{listOfIssues|dump}}-->


<div class="govuk-button-group">
  <form action = "/pour-selection" method = "get">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Add an issue
    </button>
  </form>
  <form action = "/contact-information" method = "get">
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
  </form>
</div>
{% endblock %}
