{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">List of issues</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">issue amount</th>
      <th scope="col" class="govuk-table__header">Issue</th>
      <th scope="col" class="govuk-table__header">Criteria</th>
      <th scope="col" class="govuk-table__header">Are fix issue</th>
      <th scope="col" class="govuk-table__header">Why not fix/how fix</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">issue 1</th>
      <td class="govuk-table__cell">{{pour-selection}}</td>
      <td class="govuk-table__cell">{{pour-selection}}</td>
      <td class="govuk-table__cell">{{pour-selection}}</td>
      <td class="govuk-table__cell">{{pour-selection}}</td>
    </tr>
  </tbody>
</table>

{% endblock %}
