{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors | length %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for error in errors %}
            <li>
              <a href="#{{error.id}}">{{error.message}}</a>
            </li>
            {% endfor %}
            
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form class="form" action="/wcag-specific-issues-answer" method="post">

      <div class="govuk-form-group {% if errors | length %} govuk-form-group--error{%endif%}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Select the WCAG criteria that has not been met
            </h1>
            </legend>
            {% if errors | length %}
              {% for error in errors %}
              {% if error.id == 'wcag-criteria-0' %}
              <p id="wcag-criteria" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{error.message}}
              </p>
              {% endif %}
              {% endfor %}
              {% endif %}

          <div class="govuk-radios" data-module="govuk-radios">

            {%for criteria in criterion%}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="wcag-criteria-{{loop.index}}" name="wcag-criteria" type="radio"
                value="{{criteria.reference}}">
              <label class="govuk-label govuk-radios__label" for="wcag-criteria-{{loop.index}}">
                {{criteria.criteria}} ({{criteria.level}})

              </label>
            </div>
            {%endfor%}
          </div>
        </fieldset>
      </div>

      {{ govukButton({
          text: "Continue"
        }) }}

    </form>

  </div>
</div>

{% endblock %}