{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/why-no-fix-issue-answer" method="post">

        <div class="govuk-form-group {% if errors | length %} govuk-form-group--error {% endif %}">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="more-detail">
              Why are you not fixing the issue?
            </label>
          </h1>
          {% if errors | length %}
              {% for error in errors %}
              {% if error.id == 'why-no-fix-issue' %}
              <p id="why-no-fix-issue-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> {{error.message}}
              </p>
              {% endif %}
              {% endfor %}
              {% endif %}

          <div id="why-no-fix-issue-hint" class="govuk-hint">
            Provide as much detail as possible
          </div>
          <textarea class="govuk-textarea" id="why-no-fix-issue" name="why-no-fix-issue" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>

    </div>
  </div>

{% endblock %}
